@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500&display=swap');

body {
    margin: 0;
    padding: 20px;
    background-image: linear-gradient(to left, rgb(228, 233, 255), rgb(205, 207, 243));
    color: #233452;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin-right: 40px;
}

.menus-container {
    position: relative;
}

.sub-menu{
    display: none;   
}

.dropdown:hover .sub-menu, .sub-menu ul {
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
    width: 150px;
    position: absolute;
    line-height: 30px;
}

.menus-container ul {
    display: flex;
    list-style: none;
    margin-right: 40px;
}

.menus-container ul li {
    margin-right: 20px;
    cursor: pointer;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    text-align: center;
}

.home-page h1 {
    font-family: 'Teko', sans-serif;
    font-size: 95px;
    font-weight: 500;
    color: #0d0f39;
    line-height: 80px;
}

.home-page p {
    color: #000000;
    font-size: 24px;
    margin-top: -40px;
}

.btn-container {
    display: flex;
}

.btn-container button {
    margin-right: 10px;
    padding: 0 35px;
    border: 2px solid #f382e7;
    border-radius: 4px;
    width: 173px;
    height: 53px;
    background-color: transparent;
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.ai-img {
    mix-blend-mode: color-burn;
}
